<!DOCTYPE html>
<html>
   <head>
      <title>Catalog</title>
      <link href="https://fonts.googleapis.com/css?family=Princess+Sofia|Rokkitt" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <div class="container">
         <header class="header">
            <div class="row">
               <div class="col-md-8 title">
                  <h1><a href="{{url_for('show_catagory')}}">Item Catalog</a></h1>
               </div>
               <div class="col-md-4 login">
                  <button type="button" class="btn btn-info"><a href="{{url_for('gdisconnect')}}" class="logout">Logout</a></button>
               </div>
            </div>
         </header>
         <article>
            <div class="row">
               <div class="col-md-4 sub_title">
                  <h4>Edit Catagory {{catagory.name}}</h4>
               </div>
               <div class="col-md-12">
                  <form action="{{url_for('edit_catagory', catagory_id = catagory.id)}}" method="POST">
                     <div class="form-group">
                        <label for="name">Catagory Name:</label>
                        <input type="text" name="name" class="form-control" id="cat_name" placeholder="Enter new name">
                     </div>
                     <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
               </div>
            </div>
         </article>
         <footer>
            <div class="row">
               <div class="col-md-10">
                  &copy 2017 Sayed Zahed Abdullah
               </div>
            </div>
         </footer>
      </div>
   </body>
</html>